spring:
#  profiles:
#    active: chaos-monkey
  application:
    name: order-service
  threads:
    virtual:
      enabled: true

  boot:
    admin:
      client:
        url: http://localhost:8080  # adres serwera Spring Boot Admin

  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres_database
    url: jdbc:postgresql://localhost:15432/postgres_database # 15432 - toxiproxy port
    username: postgres_admin
    password: postgres_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


server:
  port: 8102

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: always

  # observation documentation
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  metrics:
    tags:
      application: ${spring.application.name}
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
        http.client.requests: true
